@font-face{
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: "Cursed Timer ULiL";
}

body, button{
    background-color: #1B244A;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;                                     
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 21px;
}

h1, button {
    border-radius: 5px;
}

h1{
    box-sizing: border-box;
    padding: 15px 0 0;
    color: #F94F6D;
    margin: inherit;
    width: 155px;
    height: 120px;
    font-size: 90px;
    background-color: #080001;
}

button {
   font-size: 18px;
   font-family: inherit;
   padding: 10px 8px;
   margin: 0;
   color: #9AABD8;
   border: 2px solid #9AABD8;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 575px;
    height: 385px;
    margin: 0 auto;
}

.modify-score-buttons-group{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 26px 0 0;
}